<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MT_P4MiniTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <MT_P4MiniTool.Properties.Settings>
            <setting name="memP4PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="memP4USER" serializeAs="String">
                <value />
            </setting>
            <setting name="memP4PASSWD" serializeAs="String">
                <value />
            </setting>
            <setting name="memP4CLIENT" serializeAs="String">
                <value />
            </setting>
            <setting name="memComment" serializeAs="String">
                <value />
            </setting>
            <setting name="memIsAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="memIsAutoCheckout" serializeAs="String">
                <value>False</value>
            </setting>
        </MT_P4MiniTool.Properties.Settings>
    </userSettings>
</configuration>